.burger {
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.burger span {
    background-color: #ffffff;
    width: 40px;
    height: 2px;
    right: 5px;
    border-radius: 20px;
    z-index: 2;
    transition: all 0.3s ease;
    position: absolute;
}

.burger span:nth-child(1) {
    top: 5px;
}

.burger span:nth-child(2) {
    top: 15px;
}

.burger span:nth-child(3) {
    top: 25px;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 15px;
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 15px;
}