* {
    box-sizing: border-box;
}

html,
body {
    height: fit-content;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-170deg, #fff 50%, #cbf3f0 50%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 0 10px 0 0 white;
    background-attachment: fixed;
    position: relative;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    background: #ff9f1c;
    z-index: 1;
    padding: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
    padding: 0;
    align-items: center;
    position: relative;
}

#logo img {
    width: 90px;
    vertical-align: center;
    cursor: pointer;
}

#nav-buttons ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#nav-buttons ul li {
    margin: 0 1rem;
    font-size: 1.4em;
    cursor: pointer;
    padding: 3px;
}

#nav-buttons ul li a {
    text-decoration: none;
    color: #ffbf69;
    font-weight: 600;
    transition: color 0.3s ease;
}

#nav-buttons ul li a.active {
    text-decoration: underline;
    color: #fff;
}

.acc-container svg {
    display: block;
    width: 20px;
}

.acc-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.acc-container .profile,
.acc-container .login-register {
    display: none;
}

.profile a,
.login-register a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.profile.show,
.login-register.show {
    display: flex;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #000;
}

/* MAIN */

main {
    display: block;
    padding-top: 0;
}

/* FOOTER */

footer {
    height: 25vh;
    display: flex;
    width: 100vw;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: #003366;
    color: #ffbf69;
}