@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(-170deg, #fff 50%, #cbf3f0 50%);
    background-attachment: fixed;
}

/* HEADER */

header {
    background-color: #2ec4b6;
    display: flex;
    position: fixed;
    width: 100%;
    height: max-content;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

nav .account {
    margin-left: auto;
    padding-right: 30px;
    cursor: pointer;
}

.burger {
    display: none;
}



/* PROFILE */

.profile,
.login-register {
    display: none;
    position: absolute;
    background: #2ec4b5;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 120px;
    padding: 30px;
    gap: 50px;
    border-radius: 10px;
    flex-direction: column;
}

.profile.show,
.login-register.show {
    display: flex;
}

.profile a,
.login-register a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.6em;
}

footer {
    background: #2ec4b6;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    color: white;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

footer .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-list p {
    margin: 40px auto;

}

footer .icons {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

footer .contact-list svg {
    width: 30px;
}