@media screen and (max-width: 1280px) {

    h1,
    h2,
    p {
        font-size: 1.2rem;
    }

    #hero,
    #about,
    #services,
    #contact {
        padding-top: 80px;
        margin: 0;
    }

    .plans .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 1366px) {
    .plans .container {
        flex-direction: column;
    }
}