@media screen and (min-width: 1025px) {

    h1,
    h2,
    p {
        font-size: 1.2rem;
    }

    #hero,
    #about,
    #services,
    #contact {
        padding-top: 80px;
        margin: 0;
    }

    .plans .container {}
}

@media screen and (max-width: 1366px) {}