@media screen and (min-width:1900px) {

    /* HOME SECTION */
    #hero h1 {
        font-size: 3em;
    }

    #hero h2 {
        font-size: 1.9em;
    }

    #hero .def img {
        width: 50vw;
    }

    /* ABOUT SECTION */

    #about h1 {
        font-size: 1.5em;
    }

    #about p {
        font-size: 0.8em;
    }

    /* SERVICES SECTION */

    #services h1 {
        font-size: 3em;
    }

    #services h2 {
        color: #2ec4b6;
        font-size: 1.9em;
    }

    #services p {
        font-size: 1.5em;
    }

    #services a {
        font-size: 1.3em;
        color: #ff9f1c;
    }

    /* CONTACT SECTION */

    #contact h1 {
        font-size: 3em;
    }

    #contact p {
        font-size: 1.5em;
    }

    /* PLANS PAGE */

    .col {
        width: 500px;
        text-align: center;
        height: 900px;
    }
}