section {
    height: max-content;
    padding: 50px;
}

section h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

section h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

#services .subscribe a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ff9f1c;

}

#hero {
    padding-top: 130px;
}

#hero h1 {
    text-align: center;
}

#hero h2 {
    text-align: center;
}

#about h1 {
    margin: 20px;
}

#about svg {
    vertical-align: middle;
}

#services svg {
    vertical-align: middle;
}