.burger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.burger span {
    background-color: #ffbf69;
    width: 40px;
    height: 2px;
    border-radius: 20px;
    z-index: 2;
    transition: all 0.3s ease;
    position: absolute;
}

.burger span:nth-child(1) {
    top: 5px;
}

.burger span:nth-child(2) {
    top: 15px;
}

.burger span:nth-child(3) {
    top: 25px;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 15px;
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 15px;
}

@media screen and (max-width: 810px) {
    .burger {
        display: flex;
    }

    #nav-buttons {
        display: none;
        position: absolute;
        top: 110%;
        width: 30%;
        right: 0;
        height: max-content;
        z-index: 1;
        padding: 20px;
        border-radius: 30px;
    }

    #nav-buttons.show {
        display: block;
        flex-direction: column;
        right: 0;
        background-color: #ff9f1c;
    }

    #nav-buttons ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #nav-buttons ul li {
        padding: 10px 0;
        text-align: center;
    }

    #hero {
        font-size: 1.2em;
        font-weight: 900;
    }

    #about {
        display: block;
        font-size: 1.5em;
        margin-top: -100px;
    }

    #services {
        display: block;
        font-size: 1.2em;
    }

    .services {
        font-size: 2em;
    }

    #contact h1 {
        font-size: 2em;
    }

    .subscribe a {
        font-weight: 800;
        font-size: 0.8em;
        color: #ff9f1c;
    }

    #contact {
        font-size: 1.2em;
        font-weight: 900;
    }

    .form form {
        display: block;
    }

    .message {
        width: 80vw;
    }

    .info1,
    .info2,
    .info3 {
        width: 85vw;
    }

    .info1 input,
    .info2 input,
    .info3 input {
        height: 50px;
    }

    .form legend {
        font-size: 0.3em;
    }
}

@media screen and (min-width: 811px) {
    .burger {
        display: none;
    }

    #nav-buttons {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    #about {
        font-size: 2rem;
        align-items: start;
    }

}