* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-170deg, #fff 50%, #cbf3f0 50%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 0 10px 0 0 white;
    background-attachment: fixed;
    position: relative;
}

.contain-cover1 {
    background-color: #cbf3f0;
    width: 5000px;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 400px;
    z-index: 1;
    background-attachment: fixed;
    background-size: cover;
    transform: rotate(-170deg);
}

header {
    position: fixed;
    top: 0;
    background: #ff9f1c;
    z-index: 1;
    padding: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
    padding: 0;
    align-items: center;
    position: relative;
}

#logo img {
    width: 90px;
    vertical-align: center;
    cursor: pointer;
}

#nav-buttons ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#nav-buttons ul li {
    margin: 0 1rem;
    font-size: 1.4em;
    cursor: pointer;
    padding: 3px;
}

#nav-buttons ul li a {
    text-decoration: none;
    color: #ffbf69;
    font-weight: 600;
    transition: color 0.3s ease;
}

#nav-buttons ul li a.active {
    text-decoration: underline;
    color: #fff;
}

.acc-container svg {
    display: block;
    width: 20px;
}

.acc-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.acc-container .profile,
.acc-container .login-register {
    display: none;
}

.profile a,
.login-register a {
    text-decoration: none;
    color: #a5a345;
    font-weight: 600;
    transition: color 0.3s ease;
}

.profile.show,
.login-register.show {
    display: block;
}

.form {
    display: flex;
    margin: auto auto;
    width: 100%;
}

main {
    display: block;
    padding-top: 0;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
    margin: 1rem;
    padding: 20px;
    padding-top: 80px;
}

section h1 {
    color: #2ec4b6;
    font-size: 2.2rem;
}

section h2 {
    color: grey;
}

section p {
    color: grey;
}

.def img {
    width: 100%;
    border-radius: 20px 10px 20px 10px;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 3rem;
    gap: 10px;
}

#about p {
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about svg {
    width: 30px;
}

footer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #003366;
    color: #ffbf69;
}

.def {
    padding: 1.2rem;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.photo {}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-list .icons {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.icons p a svg {
    height: 30px;
}

.cpr {
    align-items: center;
    text-align: center;
}

.form form {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 10px;
    grid-template-areas:
        "message info1"
        "message info2"
        "message info3";
    margin: 20px auto auto auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.message {
    grid-area: message;
    height: 30vh;
    width: 40vw;
}

.message textarea {
    height: 25vh;
    width: inherit;
    resize: none;
}

.form form legend {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

fieldset {
    border: none;
}

.info1 {
    grid-area: info1;
    width: 35vw;
}

.info1 input {
    height: 3vh;
    width: 100%;
}

legend {
    display: flex;
}

.info1 p {
    margin: 0;
    color: red;
    margin-left: 3px;
    font-size: 1em;
}

.info2 {
    grid-area: info2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35vw;
}

.info2 input {
    height: 3vh;
}

.info3 {
    grid-area: info3;
    width: 35vw;
    display: flex;
}

textarea,
input {
    border: solid #ff9f1c 1px;
    border-radius: 10px;
}

input {
    padding: 10px;
}

.info3 input {
    margin: auto;
    width: 15vw;
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    border: #ff9f1c solid 1px;
    background-color: #ff9f1c;
    color: #ffffff;
}

#services {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "services services"
        "investment automated";
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    align-items: center;
    font-weight: 800;
    font-size: 2em;

}


.services {
    grid-area: services;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

.services svg {
    width: 30px;
}

.investment {
    grid-area: investment;
}

.automated {
    grid-area: automated;
}

.subscribe a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: gray;
    cursor: pointer;
}