@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Color Palette
        #522258
        #8C3061
        #C63C51
        #D95F59
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Navigation Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 90%;
    background-color: #ffffff;
}

#logo {
    width: 90px;
    height: 90px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.navigation ul {
    display: flex;
    gap: 60px;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #522258;
}

#close-nav-btn {
    height: 20px;
    display: none;
}

.more {
    height: 50px;
    width: 50px;
    display: none;
}

.more img {
    width: 100%;
    height: 100%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile p {
    background-color: #8C3061;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile svg {
    width: 40px;
    height: 40px;
    background-color: #8C3061;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#login-register-profile {
    display: none;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    position: absolute;
    top: 6rem;
    background: #C63C51;
    padding: 30px;
    border-radius: 5px;
}

#account-info {
    display: none;
    flex-direction: column;
    background: #C63C51;
    line-height: 2;
    position: absolute;
    top: 6rem;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

#account-info.active {
    display: flex;
}

#account-info a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

#click-to-expand {
    display: none;
}

#click-to-expand.active {
    display: flex;
}

#login-register-profile.active {
    display: flex;
}

#login-register-profile a {
    color: white;
    text-decoration: none;
}

#registered-profile {
    display: none;
    background-image: radial-gradient(#ffffff00 30%, #000 90%);
    border-radius: 50%;
}

#registered-profile.active {
    display: flex;
}

#registered-profile img {
    width: 50px;
    height: 50px;
}

/* Contact Home Style */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 30px;
}

.col {
    height: 80vh;
    border-radius: 10px;
}

.col1 {
    width: 30%;
    background-image: linear-gradient(#ffffff00, #fff), url('/images/Main Background.jpg');
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 h3 {
    font-size: 2rem;
    color: #C63C51;
}

.col2 {
    width: 50%;
    background-color: #522258;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.col2 .headline {
    padding: 10px;
    background-color: #8C3061;
    border-radius: 5px;
    height: 11vh;
    overflow: hidden;
    position: relative;
}

.headline a {
    position: absolute;
    top: 2px;
    right: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #D95F59;
}

.headline h3 {
    font-size: 1.8rem;
}

.headline p {
    font-size: 1.5rem;
}

/* Crete Account */

#close1,
#close2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #2f13339d;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#close1 svg,
#close2 svg {
    width: 15px;
    padding: 5px;
}

#create-account {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    height: max-content;
    background: #d95f5980;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 5px;
}

#create-account.active {
    display: flex;
}

#create-account a,
#login-account a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

#create-account h3,
#login-account h3 {
    font-size: 2rem;
}

#create-account p,
#login-account p {
    color: #fff;
    text-align: center;
}

#login-account.active {
    display: flex;
}

#login-account {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background: #d95f5980;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 10px;
    height: 1rem;
    border: solid #C63C51 1px;
    border-radius: 5px;
    padding: 10px;
}

form label {
    vertical-align: middle;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

form hr {
    border: #52225875 1px solid;
    margin: 30px auto;
    width: 100%;
}

form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #D95F59;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

form a:hover {
    background: #8C3061;
    color: #fff;
}